# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Builds / temporários
dist
build
.tmp
.cache
